:root {
  /* 섁상 */
	--bgcolor: #e0e0e0;
  --yellow: #ffcd29;
	--lightgray: #f4f4f4;
	--darkgray: #999999;

  /* 글꼴 */
	--pre-reg: "Pretendard-Regular", sans-serif;
	--pre-bold: "Pretendard-Bold", sans-serif;
}


@font-face {
	font-family: 'Pretendard-Regular';
	src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Pretendard-Bold";
	src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}